@font-face {
  font-family: "Inter";
  src: url(../fonts/static/Inter-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/static/Inter-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/static/Inter-ExtraBold.ttf) format("truetype");
  font-weight: 900;
}

/* Start Variables */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --main-black-color: #00001a;
  --main-transition: 0.3s;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-scroll-behaviour: smooth;
  -moz-scroll-behaviour: smooth;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

/* End Global Rules */

header {
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav>.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .container nav>.menu>a {
  display: none;
}

header .container nav>.menu li a {
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  font-weight: normal;
  transition: var(--main-transition);
  padding: 4px;
}

header .container nav>.menu a:hover {
  color: var(--soft-red);
}

header .container nav .burger-menu {
  display: none;
}

@media (max-width: 767px) {
  header .container nav>.burger-menu {
    display: block;
  }

  header .container nav>.menu {
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    padding: 20px;
    background-color: var(--off-white);
    display: none;
  }

  header .container nav>.menu::before {
    content: "";
    position: absolute;
    background-color: #00000057;
    right: 100%;
    top: 0;
    height: 100vh;
    width: 43%;
  }

  header .container nav>.menu li:first-of-type {
    margin-top: 100px;
  }

  header .container nav>.menu>a {
    align-self: flex-end;
    display: block;
  }

  header .container nav>.menu>a img {
    width: 30px;
    height: 30px;
  }

  header .container nav>.menu li a {
    color: var(--main-black-color);
    font-weight: bold;
  }

  header .container nav>.burger-menu:hover+.menu {
    display: flex;
  }
}

/* Start Main */
main .container {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  main .container {
    flex-direction: column;
  }
}

main .container .left-box {
  background-color: var(--off-whiter);
  flex: 2.5;
}

main .container .left-box .image {
  margin-bottom: 20px;
  max-width: 100%;
}

main .container .left-box .mobile-image {
  display: none;
}

@media (max-width: 767px) {
  main .container .left-box .desktop-image {
    display: none;
  }

  main .container .left-box .mobile-image {
    display: block;
  }
}

main .container .left-box>div {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  main .container .left-box>div {
    flex-direction: column;
  }
}

main .container .left-box>div h1 {
  max-width: 350px;
  font-size: 5.6rem;
}

@media (max-width: 767px) {
  main .container .left-box>div h1 {
    font-size: 4rem;
    max-width: 300px;
    margin-bottom: 10px;
  }
}

main .container .left-box>div .text p {
  max-width: 350px;
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
  margin-bottom: 30px;
  color: var(--dark-grayish-blue);
}

main .container .left-box>div .text a {
  background-color: var(--soft-red);
  padding: 15px 35px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--off-white);
  letter-spacing: 3px;
  width: fit-content;
  display: block;
  white-space: nowrap;
  transition: var(--main-transition);
}

main .container .left-box>div .text a:hover {
  background-color: var(--very-dark-blue);
}

main .container .right-box {
  background-color: var(--very-dark-blue);
  padding: 20px;
  flex: 1;
}

main .container .right-box>h2 {
  color: var(--soft-orange);
  font-size: 3.3rem;
  margin-bottom: 30px;
}

main .container .right-box>div:not(:last-child) {
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: 30px;
  margin-bottom: 20px;
}

main .container .right-box>div h2 {
  color: white;
  font-size: 2rem;
  transition: var(--main-transition);
  cursor: pointer;
}

main .container .right-box>div h2:hover {
  color: var(--soft-orange);
}

main .container .right-box>div p {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 0;
  max-width: 300px;
}

/* End Main */
/* Start Trending section */
.trending {
  padding-top: 40px;
  padding-bottom: 40px;
}

.trending .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .trending .container {
    flex-direction: column;
    gap: 20px;
  }
}

.trending .container .box {
  display: flex;
  gap: 20px;
  counter-increment: section-number;
}

.trending .container .box img {
  width: 100px;
}

.trending .container .box div h3 {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.8rem;
}

.trending .container .box div h3::before {
  content: "0" counter(section-number);
  display: block;
  margin-bottom: 10px;
  font-size: 3rem;
  color: var(--grayish-blue);
}

.trending .container .box div p {
  margin: 0;
  line-height: 1.7;
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  max-width: 229px;
}

/* End Trending section */